Repository metoppv/improver: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_check, init_check

copyright_check:
  name: Check copyright header
  args:
  - --fix
  language: system
  entry: ./copyright_check

init_check:
  name: Check for missing __init__.py files
  language: system
  entry: ./init_check

Intermediate testing
  improver_tests/fire_weather/__init__.py
  improver_tests/fire_weather/test_fine_fuel_moisture_content.py
Due: copyright_check, init_check

Intermediate over masking fix
  improver/fire_weather/fine_fuel_moisture_content.py
Due: copyright_check, init_check

All correct tests except ffmc and process
  improver_tests/fire_weather/test_fine_fuel_moisture_content.py
Due: copyright_check, init_check

Adding reminder for when I come back to this
  improver/fire_weather/fine_fuel_moisture_content.py
Due: copyright_check, init_check

Adding working tests up to and including rainfall adjustment
  improver_tests/fire_weather/test_fine_fuel_moisture_content.py
Due: copyright_check, init_check

Template FFMC metadata
  improver/fire_weather/fine_fuel_moisture_content.py
Due: copyright_check, init_check

Full working test set for FFMC
  improver_tests/fire_weather/test_fine_fuel_moisture_content.py
Due: copyright_check, init_check

Adding metadata creating function
  improver/fire_weather/fine_fuel_moisture_content.py
Due: copyright_check, init_check

Fixing comments and algorithm naming structure in FFMC.
  improver/fire_weather/fine_fuel_moisture_content.py
  improver_tests/fire_weather/test_fine_fuel_moisture_content.py
Due: copyright_check, init_check

Removing unnecessary line
  improver/fire_weather/fine_fuel_moisture_content.py
  improver_tests/fire_weather/test_fine_fuel_moisture_content.py
Due: copyright_check, init_check

Adjusting tests to match updated (working) calculations
  improver/fire_weather/fine_fuel_moisture_content.py
  improver_tests/fire_weather/test_fine_fuel_moisture_content.py
Due: copyright_check, init_check

Moving to cube based/.data indexed calculations
  improver/fire_weather/fine_fuel_moisture_content.py
  improver_tests/fire_weather/test_fine_fuel_moisture_content.py
Due: copyright_check, init_check

Finalising docstrings
  improver/fire_weather/fine_fuel_moisture_content.py
  improver_tests/fire_weather/test_fine_fuel_moisture_content.py
Due: copyright_check, init_check

Adding time coordinate with bounds to relevant test cubes
  improver_tests/fire_weather/test_fine_fuel_moisture_content.py
Due: copyright_check, init_check

Adding FFMC to the IMPROVER api
  improver/api/__init__.py
Due: copyright_check, init_check

Changing docstring that confuses sphinx
  improver/fire_weather/fine_fuel_moisture_content.py
Due: copyright_check, init_check

Changing API call for FFMC to point to the correct submodule
  improver/api/__init__.py
Due: copyright_check, init_check

Adding test of ValueError raising
  improver_tests/fire_weather/test_fine_fuel_moisture_content.py
Due: copyright_check, init_check

Minor edits following review.
  .github/workflows/ci.yml
  doc/source/examples/thresholding_example_data.py
  doc/source/examples/thresholding_simple_example.py
Due: copyright_check

Review changes. Generalise fattribute value extraction function, etc.
  improver/blending/utilities.py
  improver/categorical/decision_tree.py
  improver/categorical/modal_code.py
  improver/metadata/amend.py
  improver/precipitation/freezing_rain.py
  improver_tests/metadata/test_amend.py
Due: copyright_check, init_check

MOBT-1011: Modal symbols bug fix (#2246)
  improver/blending/utilities.py
  improver/categorical/decision_tree.py
  improver/categorical/modal_code.py
  improver/metadata/amend.py
  improver/precipitation/freezing_rain.py
  improver_tests/acceptance/SHA256SUMS
  improver_tests/acceptance/test_weather_symbol_modes.py
  improver_tests/metadata/test_amend.py
Due: copyright_check, init_check

EPPT-2858 modify cube manipulation to convert type of status flag (#2236)
  improver/utilities/cube_manipulation.py
  improver_tests/utilities/cube_manipulation/test_convert_aux_coord_to_ancillary_variable.py
Due: copyright_check, init_check

Change standardise to allow a list of Ancillary Variables to remove
  improver/standardise.py
  improver_tests/standardise/test_StandardiseMetadata.py
Due: copyright_check, init_check

Apply suggestion from @bayliffe
  improver_tests/utilities/cube_manipulation/test_MergeCubes.py
Due: copyright_check, init_check

review action, process method called
  improver_tests/utilities/cube_manipulation/test_MergeCubes.py
Due: copyright_check, init_check

debug
  .github/workflows/ci.yml
  .github/workflows/master_update.yml
Due: none

pytest coverage
  .github/workflows/ci.yml
  .github/workflows/master_update.yml
Due: none

alternative approach
  .github/workflows/ci.yml
  .github/workflows/master_update.yml
  .github/workflows/scheduled.yml
  envs/latest.yml
Due: none

using code coverage
  .github/workflows/master_update.yml
Due: none

debug change
  .github/workflows/ci.yml
Due: none

confirmed working
  .github/workflows/ci.yml
  .github/workflows/master_update.yml
Due: none

Adding tests checking for spatially varying data to FFMC test suite
  improver_tests/fire_weather/test_fine_fuel_moisture_content.py
Due: copyright_check, init_check

debug
  .codecov.yml
  .github/workflows/ci.yml
  .github/workflows/master_update.yml
Due: none

fix action syntax
  .github/workflows/ci.yml
Due: none

Review changes to FFMC code
  improver/fire_weather/fine_fuel_moisture_content.py
  improver_tests/fire_weather/test_fine_fuel_moisture_content.py
Due: copyright_check, init_check

celsius -> Celcius
  improver_tests/fire_weather/test_fine_fuel_moisture_content.py
Due: copyright_check, init_check

Adds handling for unphysical values in convective cloud base to return masked values, and adds tests for downstream plugins to ensure that masked values are handled.
  improver/psychrometric_calculations/cloud_condensation_level.py
  improver/psychrometric_calculations/cloud_top_temperature.py
  improver/psychrometric_calculations/psychrometric_calculations.py
  improver_tests/precipitation/hail_fraction/test_HailFraction.py
  improver_tests/psychrometric_calculations/air_parcel_temperature_at_pressure_level/test_TemperatureSaturatedAirParcel.py
  improver_tests/psychrometric_calculations/cloud_condensation_level/test_CloudCondensationLevel.py
  improver_tests/psychrometric_calculations/cloud_top_temperature/test_CloudTopTemperature.py
  improver_tests/psychrometric_calculations/hail_size/test_HailSize.py
  improver_tests/psychrometric_calculations/test_psychrometric_calculations.py
Due: copyright_check, init_check

Corrects doc-string
  improver/psychrometric_calculations/cloud_condensation_level.py
Due: copyright_check, init_check

WIP on cube manipulation tests
  improver/utilities/cube_manipulation.py
  improver_tests/utilities/cube_manipulation/test_get_ancillary_variable_names.py
Due: copyright_check, init_check

Path conditions:
  copyright_check: any of: \.py$
  init_check: any of: ^(improver/|improver_tests/) and \.py$
