Repository metoppv/improver: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_check, init_check

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.4.8
  hooks:
    # Run the linter (must come before any formatter, black/ruff when --fix).
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
- repo: local
  hooks:
    - id: copyright_check
      name: Check copyright header
      types: [python]
      args: [ --fix ]
      language: system
      entry: ./copyright_check
    - id: init_check
      name: Check for missing __init__.py files
      types: [python]
      language: system
      entry: ./init_check
      files: ^(improver/|improver_tests/)

Initial version of test to check that pressure, temperature and relative humidity inputs can produce the expected result from an Appleman diagram.
  improver_tests/psychrometric_calculations/condensation_trails/test_CondensationTrailFormation.py
Due: copyright_check, init_check

Modify test to show in-progress. To be completed once work from contrail persistency fix has been merged.
  improver_tests/psychrometric_calculations/condensation_trails/test_CondensationTrailFormation.py
Due: copyright_check, init_check

Added contrail class to API
  improver/api/__init__.py
Due: copyright_check, init_check

Changed categorical output dtype to int32
  improver/psychrometric_calculations/condensation_trails.py
  improver_tests/psychrometric_calculations/condensation_trails/test_CondensationTrailFormation.py
Due: copyright_check, init_check

Added height extractor class to API
  improver/api/__init__.py
Due: copyright_check, init_check

pytest coverage
  .github/workflows/ci.yml
  .github/workflows/master_update.yml
Due: none

debug
  .github/workflows/ci.yml
  .github/workflows/master_update.yml
Due: none

End-to-end test that checks values of output categorical cube, from input temperature and humidity cubes
  improver_tests/psychrometric_calculations/condensation_trails/test_CondensationTrailFormation.py
Due: copyright_check, init_check

alternative approach
  .github/workflows/ci.yml
  .github/workflows/master_update.yml
  .github/workflows/scheduled.yml
  envs/latest.yml
Due: none

Add usage of sphinx-gallery and nbsphinx as options for adding worked examples to the improver repo.
  doc/Makefile
  doc/_static/hide_links.css
  doc/_static/theme_overrides.css
  doc/rtd_environment.yml
  doc/source/about.rst
  doc/source/conf.py
  doc/source/examples/GALLERY_HEADER.txt
  doc/source/examples/thresholding_simple_example.py
  doc/source/index.rst
  doc/source/notebook_examples/thresholding_nb.ipynb
  doc/source/notebooks_gallery.rst
  envs/conda-forge.yml
  envs/environment_a.yml
  envs/environment_b.yml
  envs/latest.yml
  pyproject.toml
Due: copyright_check

Remove unused configurations.
  doc/source/conf.py
Due: copyright_check

EPP 2443: Adding a new ContrailsHeightExtractor class and associated unit tests (#2206)
  improver/api/__init__.py
  improver/psychrometric_calculations/condensation_trails.py
  improver_tests/psychrometric_calculations/condensation_trails/test_ContrailHeightExtractor.py
Due: copyright_check, init_check

Type hinting changes requested for PostProcessingPlugin
  improver/__init__.py
Due: copyright_check, init_check

Reverting to __call__(...) -> Any for simplicity and speed of execution
  improver/__init__.py
Due: copyright_check, init_check

tests: unit tests added
  improver_tests/temperature/feels_like_temperature/test_feels_like_temperature.py
Due: copyright_check, init_check

feat: New wrapper function for wind chill temp for cubes
  improver/api/__init__.py
  improver/temperature/feels_like_temperature.py
  test_notebook.ipynb
Due: copyright_check, init_check

Jupyternotebook for testing
  test_notebook.ipynb
Due: none

refactor: wrapper function name fix
  improver/api/__init__.py
  improver/temperature/feels_like_temperature.py
  improver_tests/temperature/feels_like_temperature/test_feels_like_temperature.py
Due: copyright_check, init_check

refactor: test_notebook removed
  improver_tests/temperature/feels_like_temperature/test_feels_like_temperature.py
  test_notebook.ipynb
Due: copyright_check, init_check

name addition to CONTRIBUTING
  .mailmap
  CONTRIBUTING.md
  improver/temperature/feels_like_temperature.py
Due: copyright_check, init_check

fix .mailmap
  .mailmap
Due: none

Pre-commit check
  improver/temperature/feels_like_temperature.py
  improver_tests/temperature/feels_like_temperature/test_feels_like_temperature.py
Due: copyright_check, init_check

removed blank spaces from .mailmap
  .mailmap
  CONTRIBUTING.md
  improver/api/__init__.py
  improver_tests/temperature/feels_like_temperature/test_feels_like_temperature.py
Due: copyright_check, init_check

CalculateWindChill plugin class
  improver/temperature/feels_like_temperature.py
Due: copyright_check, init_check

Plugin class added in api list
  improver/api/__init__.py
Due: copyright_check, init_check

Removed old iris tests
  improver/temperature/feels_like_temperature.py
  improver_tests/temperature/feels_like_temperature/test_feels_like_temperature.py
Due: copyright_check, init_check

unit tests with pytest
  improver_tests/temperature/feels_like_temperature/test_feels_like_temperature.py
Due: copyright_check, init_check

Blank lines removed
  .mailmap
Due: none

Add Rob purvis back to .mailmap
  .mailmap
Due: none

Add a CLI to compile a model
  improver/cli/compile_rainforests_calibration.py
  improver/cli/train_rainforests_calibration.py
  improver_tests/calibration/rainforests_training/test_TrainRainForestsCalibration.py
Due: copyright_check, init_check

Add myself to contributors
  CONTRIBUTING.md
Due: none

Formatting
  improver/calibration/rainforest_training.py
  improver/cli/compile_rainforests_calibration.py
Due: copyright_check, init_check

Remove unnecessary import
  improver_tests/calibration/rainforests_training/test_CompileRainForestsCalibration.py
Due: copyright_check, init_check

Add skips for lightgbm and treelite in tests
  improver_tests/calibration/rainforests_training/test_CompileRainForestsCalibration.py
  improver_tests/calibration/rainforests_training/test_TrainRainForestsCalibration.py
Due: copyright_check, init_check

Changed hard-coded freezing temperature to use absolute zero constant
  improver/psychrometric_calculations/condensation_trails.py
Due: copyright_check, init_check

Add additional vicinity operators for use in the vicinity CLI.
  improver/cli/vicinity.py
  improver/utilities/spatial.py
Due: copyright_check, init_check

Update doc-strings and variable names.
  improver/cli/vicinity.py
  improver/utilities/spatial.py
Due: copyright_check, init_check

Add tests and update handling of land-sea aware vicinities.
  improver/cli/vicinity.py
  improver/utilities/spatial.py
  improver_tests/utilities/spatial/test_spatial.py
Due: copyright_check, init_check

Linting and consolidation of vicinity calculations.
  improver/utilities/spatial.py
  improver_tests/utilities/spatial/test_spatial.py
Due: copyright_check, init_check

Refactor how landsea mask and masked values are handled. Fill out remaining test of vicinity functions.
  improver/utilities/spatial.py
  improver_tests/utilities/spatial/test_spatial.py
Due: copyright_check, init_check
