Repository metoppv/improver: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_check, init_check

copyright_check:
  name: Check copyright header
  args:
  - --fix
  language: system
  entry: ./copyright_check

init_check:
  name: Check for missing __init__.py files
  language: system
  entry: ./init_check

Add acceptance tests for vicinity generalisations.
  improver_tests/acceptance/SHA256SUMS
  improver_tests/acceptance/test_vicinity.py
Due: copyright_check, init_check

Fixes for pre-commit checks.
  improver/cli/vicinity.py
  improver/utilities/spatial.py
  improver_tests/acceptance/test_vicinity.py
  improver_tests/threshold/test_Threshold.py
  improver_tests/utilities/spatial/test_DistanceBetweenGridSquares.py
Due: copyright_check, init_check

Updates following rebase to recent master.
  improver/cli/vicinity.py
  improver_tests/acceptance/SHA256SUMS
  improver_tests/acceptance/test_vicinity.py
Due: copyright_check, init_check

required changes#
  improver/blending/weighted_blend.py
  improver/calibration/reliability_calibration.py
  improver/cli/blend_adjacent_points.py
  improver/cli/merge.py
  improver/utilities/cube_manipulation.py
  improver/utilities/time_lagging.py
Due: copyright_check, init_check

all unittests working
  improver/precipitation/precipitation_duration.py
  improver_tests/utilities/cube_manipulation/test_MergeCubes.py
Due: copyright_check, init_check

Added MetaOrographicEnhancement
  improver/api/__init__.py
  improver/cli/orographic_enhancement.py
  improver/orographic_enhancement.py
Due: copyright_check, init_check

further changes
  improver/orographic_enhancement.py
Due: copyright_check, init_check

Unit tests coverage improved
  improver_tests/temperature/feels_like_temperature/test_feels_like_temperature.py
Due: copyright_check, init_check

first_tests
  improver/psychrometric_calculations/hail_size.py
  improver_tests/psychrometric_calculations/hail_size/test_HailSize.py
Due: copyright_check, init_check

masking_changes
  improver/psychrometric_calculations/hail_size.py
Due: copyright_check, init_check

Fix:unit tests improved
  improver_tests/temperature/feels_like_temperature/test_feels_like_temperature.py
Due: copyright_check, init_check

Ensure the forecast dataframe is being filtered in place.
  improver/calibration/quantile_regression_random_forest.py
Due: copyright_check, init_check

Ensure the forecast dataframe is being filtered in place. (#2229)
  improver/calibration/quantile_regression_random_forest.py
Due: copyright_check, init_check

Eppt 2783 wind chill improver wrapper function for calculate wind chill (#2217)
  .mailmap
  CONTRIBUTING.md
  improver/api/__init__.py
  improver/temperature/feels_like_temperature.py
  improver_tests/temperature/feels_like_temperature/test_feels_like_temperature.py
Due: copyright_check, init_check

Add ipykernel to ReadTheDocs environment.
  doc/rtd_environment.yml
  doc/source/notebook_examples/thresholding_simple_example.ipynb
Due: none

Update doc-strings as per review comments.
  improver/utilities/spatial.py
  improver_tests/utilities/spatial/test_spatial.py
Due: copyright_check, init_check

Update types in operator_within_vicinity definition.
  improver/utilities/spatial.py
Due: copyright_check, init_check

Update improver/utilities/spatial.py
  improver/utilities/spatial.py
Due: copyright_check, init_check

Fix acceptance tests for EMOS and SAMOS which were incorrectly checking for no output.
  improver_tests/acceptance/test_estimate_emos_coefficients_from_table.py
  improver_tests/acceptance/test_estimate_samos_coefficients.py
  improver_tests/acceptance/test_estimate_samos_coefficients_from_table.py
  improver_tests/acceptance/test_estimate_samos_gams.py
  improver_tests/acceptance/test_estimate_samos_gams_from_table.py
Due: copyright_check, init_check

Replace treelite.Model with treelite.frontend.
  improver_tests/calibration/rainforests_calibration/conftest.py
Due: copyright_check, init_check

Remove unused configurations.
  doc/source/conf.py
Due: copyright_check

Add usage of sphinx-gallery and nbsphinx as options for adding worked examples to the improver repo.
  doc/Makefile
  doc/_static/hide_links.css
  doc/_static/theme_overrides.css
  doc/rtd_environment.yml
  doc/source/about.rst
  doc/source/conf.py
  doc/source/examples/GALLERY_HEADER.txt
  doc/source/examples/thresholding_simple_example.py
  doc/source/index.rst
  doc/source/notebook_examples/thresholding_nb.ipynb
  doc/source/notebooks_gallery.rst
  envs/conda-forge.yml
  envs/environment_a.yml
  envs/environment_b.yml
  envs/latest.yml
  pyproject.toml
Due: copyright_check

Modify ReadTheDocs configuration.
  .github/workflows/ci.yml
  .readthedocs.yml
  doc/rtd_environment.yml
  doc/source/notebook_examples/thresholding_simple_example.ipynb
  setup.py
Due: copyright_check

Minor tidy-ups.
  .github/workflows/ci.yml
  .readthedocs.yml
  doc/source/about.rst
  doc/source/conf.py
  setup.py
Due: copyright_check

Modify ruff exclusions used for the examples.
  pyproject.toml
Due: none

Testing.
  .github/workflows/ci.yml
Due: none

Minor edits.
  .readthedocs.yml
  doc/Makefile
  doc/source/conf.py
Due: copyright_check

Move ipykernel.
  doc/rtd_environment.yml
Due: none

Install improver into the environment.
  .github/workflows/ci.yml
Due: none

Install ipykernel.
  .github/workflows/ci.yml
Due: none

Modify RainForests due to deprecation.
  improver_tests/calibration/rainforests_calibration/conftest.py
Due: copyright_check, init_check

Try function to import test data.
  improver/__init__.py
Due: copyright_check, init_check

Update doc-strings as per review comments.
  improver/utilities/spatial.py
Due: copyright_check, init_check

Refactor how the filters are passed to the operator_in_vicinity function.
  improver/utilities/spatial.py
Due: copyright_check, init_check

Fix formatting.
  improver/utilities/spatial.py
Due: copyright_check, init_check

Add cell method to output and move variable renaming.
  improver/cli/vicinity.py
  improver/utilities/spatial.py
Due: copyright_check, init_check

Replace treelite.Model with treelite.frontend. (#2231)
  improver_tests/calibration/rainforests_calibration/conftest.py
Due: copyright_check, init_check

Add acceptance tests for SAMOS CLIs where nothing should be returned (#2219)
  improver/calibration/__init__.py
  improver_tests/acceptance/test_estimate_emos_coefficients_from_table.py
  improver_tests/acceptance/test_estimate_samos_coefficients.py
  improver_tests/acceptance/test_estimate_samos_coefficients_from_table.py
  improver_tests/acceptance/test_estimate_samos_gams.py
  improver_tests/acceptance/test_estimate_samos_gams_from_table.py
Due: copyright_check, init_check

Adding a type hint to the `process` method of the `BasePlugin` and `PostProcessingPlugin` classes (#2224)
  improver/__init__.py
Due: copyright_check, init_check

Generalise max/min calculations to handle NaNs and update tests.
  improver/cli/vicinity.py
  improver/utilities/spatial.py
  improver_tests/utilities/spatial/test_spatial.py
Due: copyright_check, init_check

Path conditions:
  copyright_check: any of: \.py$
  init_check: any of: ^(improver/|improver_tests/) and \.py$
