Repository metoppv/improver: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_check, init_check

copyright_check:
  name: Check copyright header
  args:
  - --fix
  language: system
  entry: ./copyright_check

init_check:
  name: Check for missing __init__.py files
  language: system
  entry: ./init_check

Updated following ruff reformatting
  improver/standardise.py
  improver_tests/standardise/test_StandardiseMetadata.py
Due: copyright_check, init_check

Improves handling of masked t and p in cloud top calc.
  improver/psychrometric_calculations/cloud_top_temperature.py
  improver_tests/psychrometric_calculations/cloud_top_temperature/test_CloudTopTemperature.py
Due: copyright_check, init_check

Template for adding worked examples (v2) (#2238)
  .github/workflows/ci.yml
  .github/workflows/scheduled.yml
  .gitignore
  .readthedocs.yml
  doc/Makefile
  doc/_static/hide_links.css
  doc/_static/theme_overrides.css
  doc/rtd_environment.yml
  doc/source/adding_examples.rst
  doc/source/conf.py
  doc/source/examples/GALLERY_HEADER.rst
  doc/source/examples/thresholding_example_data.py
  doc/source/examples/thresholding_simple_example.py
  doc/source/index.rst
  envs/conda-forge.yml
  envs/environment_a.yml
  envs/environment_b.yml
  envs/latest.yml
  improver/__init__.py
  improver_tests/test_example_data_path.py
  pyproject.toml
Due: copyright_check, init_check

Use the ImproverTests assertDictEqual method in all places where the dictionary comparison required fixing.
  improver_tests/__init__.py
  improver_tests/blending/calculate_weights_and_blend/test_WeightAndBlend.py
  improver_tests/calibration/emos_calibration/test_EstimateCoefficientsForEnsembleCalibration.py
  improver_tests/categorical/test_utilities.py
  improver_tests/metadata/test_utilities.py
  improver_tests/nbhood/nbhood/test_NeighbourhoodProcessing.py
  improver_tests/nowcasting/forecasting/test_AdvectField.py
  improver_tests/orographic_enhancement/test_OrographicEnhancement.py
  improver_tests/regrid/test_AdjustLandSeaPoints.py
  improver_tests/regrid/test_RegridLandSea.py
  improver_tests/spotdata/test_SpotExtraction.py
  improver_tests/standardise/test_StandardiseMetadata.py
  improver_tests/temperature/feels_like_temperature/test_feels_like_temperature.py
  improver_tests/utilities/test_mathematical_operations.py
Due: copyright_check, init_check

Formatting correction.
  improver_tests/blending/calculate_weights_and_blend/test_WeightAndBlend.py
Due: copyright_check, init_check

Amend environment building in GitHub Actions, so that the existence of an improver_example_data PR is checked. If the PR doesn't exist revert to master.
  .github/workflows/ci.yml
Due: none

Test.
  .github/workflows/ci.yml
Due: none

Revert test.
  .github/workflows/ci.yml
Due: none

Update improver_example_data check in GitHub Actions (#2258)
  .github/workflows/ci.yml
Due: none

Extra unit test for missing Ancillary Variable in cube
  improver/standardise.py
  improver_tests/standardise/test_StandardiseMetadata.py
Due: copyright_check, init_check

Change for ruff format check
  improver/standardise.py
Due: copyright_check, init_check

Refactor to use a general FWI ABC
  improver/fire_weather/__init__.py
  improver/fire_weather/fine_fuel_moisture_content.py
  improver_tests/fire_weather/test_fine_fuel_moisture_content.py
Due: copyright_check, init_check

Adding forgotten ABC tests
  improver_tests/fire_weather/test_fire_weather_index_base.py
Due: copyright_check, init_check

Fixing docstring that breaks sphinx
  improver/fire_weather/__init__.py
Due: copyright_check, init_check

Second attempt to satisfy Sphinx's dogma
  improver/fire_weather/__init__.py
Due: copyright_check, init_check

Changes from ABC refactor
  improver/fire_weather/__init__.py
  improver/fire_weather/fine_fuel_moisture_content.py
  improver_tests/fire_weather/__init__.py
  improver_tests/fire_weather/test_fine_fuel_moisture_content.py
  improver_tests/fire_weather/test_fire_weather_index_base.py
Due: copyright_check, init_check

DOC: Pin sphinx version to avoid bug in sphinx-autodoc-typehints
  doc/rtd_environment.yml
Due: none

Tests for compare ancillary variables
  improver_tests/utilities/cube_manipulation/test_compare_ancillary_variables.py
Due: copyright_check, init_check

Changes isnan to ~isfinite to cover more cases
  improver/psychrometric_calculations/psychrometric_calculations.py
Due: copyright_check, init_check

Changes isnan to ~isfinite to cover more cases - and improves doc-string
  improver/psychrometric_calculations/psychrometric_calculations.py
Due: copyright_check, init_check

Test for saturated_humidity covers other invalid inputs.
  improver_tests/psychrometric_calculations/test_psychrometric_calculations.py
Due: copyright_check, init_check

Correcting tests
  improver_tests/utilities/cube_manipulation/test_get_ancillary_variable_names.py
Due: copyright_check, init_check

Check that sphinx pin fixes readthedocs error
  doc/rtd_environment.yml
Due: none

Update conda-forge.yml
  envs/conda-forge.yml
Due: none

Update environment_a.yml
  envs/environment_a.yml
Due: none

Update environment_b.yml
  envs/environment_b.yml
Due: none

Update latest.yml
  envs/latest.yml
Due: none

DOC: Pin sphinx version to avoid bug in sphinx-autodoc-typehints (#2260)
  doc/rtd_environment.yml
  envs/conda-forge.yml
  envs/environment_a.yml
  envs/environment_b.yml
  envs/latest.yml
Due: none

Add clustering and classification functionality.
  improver/clustering/__init__.py
  improver/clustering/clustering.py
  improver/regrid/landsea.py
Due: copyright_check, init_check

Tidy-up and refactor.
  improver/clustering/clustering.py
  improver/clustering/realization_clustering.py
  improver_tests/clustering/test_clustering.py
  improver_tests/clustering/test_realization_clustering.py
Due: copyright_check, init_check

Further modifications.
  improver/cli/realization_cluster_and_match.py
  improver/clustering/clustering.py
  improver/clustering/realization_clustering.py
  improver/regrid/landsea.py
  improver_tests/acceptance/SHA256SUMS
  improver_tests/acceptance/test_realization_cluster_and_match.py
  improver_tests/clustering/test_realization_clustering.py
  improver_tests/regrid/test_RegridLandSea.py
Due: copyright_check, init_check

Re-add unit test for esmf-area-weighted option.
  improver_tests/regrid/test_RegridLandSea.py
Due: copyright_check, init_check

Consolidate code into unit test helper function.
  improver_tests/clustering/test_realization_clustering.py
Due: copyright_check, init_check

Further modifications and addition of worked example.
  doc/source/examples/realization_cluster_and_match_example_data.py
  improver/cli/realization_cluster_and_match.py
  improver/clustering/clustering.py
  improver/clustering/realization_clustering.py
  improver_tests/acceptance/SHA256SUMS
  improver_tests/clustering/test_realization_clustering.py
Due: copyright_check, init_check

Correct package name to iris-esmf-regrid.
  envs/environment_a.yml
Due: none

Minor edits.
  doc/rtd_environment.yml
  doc/source/examples/realization_cluster_and_match_example_data.py
  improver/clustering/realization_clustering.py
Due: copyright_check, init_check

Modifications to make the regridding optional. Modify worked example, so that it can work even if the esmf_regrid package is not available.
  doc/rtd_environment.yml
  doc/source/examples/realization_cluster_and_match_example_data.py
  improver/clustering/realization_clustering.py
  improver_tests/acceptance/test_realization_cluster_and_match.py
  improver_tests/clustering/test_realization_clustering.py
Due: copyright_check, init_check

Alter example skipping.
  doc/source/examples/realization_cluster_and_match_example_data.py
Due: copyright_check

Alter formatting in worked example.
  doc/source/examples/realization_cluster_and_match_example_data.py
Due: copyright_check

Path conditions:
  copyright_check: any of: \.py$
  init_check: any of: ^(improver/|improver_tests/) and \.py$
