Repository metoppv/improver: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright_check, init_check

copyright_check:
  name: Check copyright header
  args:
  - --fix
  language: system
  entry: ./copyright_check

init_check:
  name: Check for missing __init__.py files
  language: system
  entry: ./init_check

ruff reformatting
  improver/utilities/cube_manipulation.py
  improver_tests/utilities/cube_manipulation/test_convert_aux_coord_to_ancillary_variable.py
Due: copyright_check, init_check

EPPT-2866 Adds handling of zero relative humidity data (#2235)
  improver/metadata/utilities.py
  improver/psychrometric_calculations/psychrometric_calculations.py
  improver/utilities/cube_extraction.py
  improver_tests/metadata/test_utilities.py
  improver_tests/psychrometric_calculations/test_HumidityMixingRatio.py
Due: copyright_check, init_check

Improved comments and variable names
  improver/utilities/cube_manipulation.py
Due: copyright_check, init_check

Adjusts save method to use new CubeAttrDict for attributes
  improver/utilities/save.py
Due: copyright_check, init_check

Remove deprecated None alias for empty array shape
  improver_tests/psychrometric_calculations/condensation_trails/test_CondensationTrailFormation.py
Due: copyright_check, init_check

Edits to set-up use of Sphinx-Gallery.
  .github/workflows/ci.yml
  .gitignore
  doc/_static/theme_overrides.css
  doc/rtd_environment.yml
  doc/source/conf.py
  doc/source/examples/gallery_header.rst
  doc/source/examples/thresholding_example_data.py
  doc/source/examples/thresholding_simple_example.py
  doc/source/index.rst
  envs/latest.yml
  improver/__init__.py
  pyproject.toml
Due: copyright_check, init_check

Minor edit
  .readthedocs.yml
Due: none

Updates.
  .readthedocs.yml
  doc/Makefile
  doc/_static/hide_links.css
  doc/rtd_environment.yml
  doc/source/conf.py
  doc/source/examples/GALLERY_HEADER.rst
  doc/source/examples/thresholding_example_data.py
  doc/source/examples/thresholding_simple_example.py
  envs/conda-forge.yml
  envs/environment_a.yml
  envs/environment_b.yml
  improver_tests/test_example_data_path.py
Due: copyright_check, init_check

Edits following documentation build failures.
  .readthedocs.yml
  doc/rtd_environment.yml
  doc/source/examples/GALLERY_HEADER.rst
  envs/conda-forge.yml
  envs/environment_a.yml
  envs/environment_b.yml
  envs/latest.yml
Due: none

Suppress warnings, which are expected by Sphinx Gallery.
  doc/source/conf.py
Due: copyright_check

Alter warning suppression.
  doc/source/conf.py
Due: copyright_check

Modify new example documentation and pin pygam.
  doc/source/examples/GALLERY_HEADER.rst
  doc/source/index.rst
  envs/environment_a.yml
Due: none

Updates.
  .github/workflows/ci.yml
  .github/workflows/scheduled.yml
  .readthedocs.yml
  doc/source/examples/GALLERY_HEADER.rst
  envs/conda-forge.yml
  envs/environment_a.yml
  envs/environment_b.yml
  envs/latest.yml
Due: none

Modify environment creation.
  .readthedocs.yml
  doc/rtd_environment.yml
Due: none

Add missing rst file.
  doc/source/adding_examples.rst
Due: none

Remove deprecated None alias for empty array shape (#2239)
  improver_tests/psychrometric_calculations/condensation_trails/test_CondensationTrailFormation.py
Due: copyright_check, init_check

Pin pygam to below 0.11.
  envs/environment_a.yml
  envs/latest.yml
Due: none

Improves some slightly-related doc-strings
  improver/utilities/save.py
Due: copyright_check, init_check

Pin pygam to below 0.11. (#2241)
  envs/environment_a.yml
  envs/latest.yml
Due: none

Plugins for training and compiling Rainforests models
  improver/calibration/rainforest_compiler.py
  improver/calibration/rainforest_training.py
  improver_tests/calibration/rainforests_training/__init__.py
  improver_tests/calibration/rainforests_training/conftest.py
  improver_tests/calibration/rainforests_training/test_CompileRainForestsCalibration.py
  improver_tests/calibration/rainforests_training/test_TrainRainForestsCalibration.py
Due: copyright_check, init_check

Refactor module checks into common area
  CONTRIBUTING.md
  improver/calibration/__init__.py
  improver/calibration/rainforest_calibration.py
Due: copyright_check, init_check

Add some testing for column selection
  improver/calibration/rainforest_training.py
  improver_tests/calibration/rainforests_training/test_CompileRainForestsCalibration.py
  improver_tests/calibration/rainforests_training/test_TrainRainForestsCalibration.py
Due: copyright_check, init_check

Standardise some naming and documentation
  improver/calibration/rainforest_compilation.py
  improver/calibration/rainforest_training.py
  improver_tests/calibration/rainforests_training/test_CompileRainForestsModel.py
  improver_tests/calibration/rainforests_training/test_TrainRainForestsModel.py
Due: copyright_check, init_check

Fix import
  improver_tests/calibration/rainforests_training/test_CompileRainForestsModel.py
  improver_tests/calibration/rainforests_training/test_TrainRainForestsModel.py
Due: copyright_check, init_check

Update docs python version badge
  doc/source/frontpage.rst
Due: none

Update docs python version badge (#2245)
  doc/source/frontpage.rst
Due: none

Bump up test coverage
  improver_tests/calibration/rainforests_training/test_CompileRainForestsModel.py
Due: copyright_check, init_check

Remove deprecated method utcfromtimestamp.
  improver/blending/utilities.py
Due: copyright_check, init_check

Changes to the modal code handling of model__run_attr.
  improver/categorical/modal_code.py
  improver/metadata/amend.py
  improver_tests/acceptance/test_weather_symbol_modes.py
  improver_tests/metadata/test_amend.py
Due: copyright_check, init_check

Style fixes.
  improver/categorical/modal_code.py
  improver_tests/metadata/test_amend.py
Due: copyright_check, init_check

Update checksums.
  improver_tests/acceptance/SHA256SUMS
Due: none

Adding missing logic for equations 3a and 3b
  improver/fire_weather/fine_fuel_moisture_content.py
Due: copyright_check, init_check

Fixing conflicts that somehow arrived from a git stash pop
  improver/fire_weather/fine_fuel_moisture_content.py
Due: copyright_check, init_check

Initial version of FFMC class
  improver/fire_weather/__init__.py
  improver/fire_weather/fine_fuel_moisture_content.py
Due: copyright_check, init_check

Adding initial code for FFMC
  improver/fire_weather/fine_fuel_moisture_content.py
Due: copyright_check, init_check

Finally a version that in theory produces the correct values
  improver/fire_weather/fine_fuel_moisture_content.py
Due: copyright_check, init_check

Starting to not modify in place twice
  improver/fire_weather/fine_fuel_moisture_content.py
Due: copyright_check, init_check

Intermediate, partially working version
  improver/fire_weather/fine_fuel_moisture_content.py
Due: copyright_check, init_check

Changing to a data first calculation process
  improver/fire_weather/fine_fuel_moisture_content.py
Due: copyright_check, init_check

Correcting array logic implementation for condition mask
  improver/fire_weather/fine_fuel_moisture_content.py
Due: copyright_check, init_check

Path conditions:
  copyright_check: any of: \.py$
  init_check: any of: ^(improver/|improver_tests/) and \.py$
